<div class="panel panel-default">
    <div class="panel-heading">
        Catégories
    </div>
    <div class="panel-body">
        <div class = "list-group no-margin-bottom col-md-6 col-lg-6 no-padding-left no-padding-right">
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'action'}) }}" class="list-group-item">- Action</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'fps'}) }}" class="list-group-item">- FPS</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'mobile'}) }}" class="list-group-item">- Mobile</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'course'}) }}" class="list-group-item">- Course</a>
        </div>
        <div class = "list-group no-margin-bottom col-md-6 col-lg-6 no-padding-left no-padding-right">
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'aventure'}) }}" class="list-group-item">- Aventure</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'sport'}) }}" class="list-group-item">- Sports</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'mmo'}) }}" class="list-group-item">- MMO</a>
            <a href="{{ path('quote_cms_post_category',{'categorySlug':'strategie'}) }}" class="list-group-item">- Stratégie</a>
        </div>
    </div>
</div>