<div class="modal fade" id = "post_screenshot_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header hidden-xs">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Catpures d'écrans de "{{ post.title }}"</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div class = "col-lg-12">
                        <div id="carousel-screenshot-{{ post.id }}" class="carousel slide shadowed" data-ride="carousel" data-inteval="false">

                            <ol class="carousel-indicators">
                                {% for picture in post.pictures %}
                                    <li data-target="#carousel-screenshot-{{ post.id }}" data-slide-to="{{ loop.index - imgNumber }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                {% for picture in post.pictures %}
                                    <div class="item {% if loop.index == imgNumber %}active{% endif %}">
                                        <a target="_blank" href = "{{ picture }}">
                                            <img src="{{ picture|imagine_filter('screenshot_modal') }}" alt="Capture d'écran {{ loop.index }} de la #GL {{ post.title }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            <a class="left carousel-control" href="#carousel-screenshot-{{ post.id }}" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Prédédent</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-screenshot-{{ post.id }}" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Suivant</span>
                            </a>

                        </div>
                        <br />
                        <div class = "text-center">
                            <p><i>(Cliquez sur une capture d'écran pour l'afficher en taille réelle)</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
